Repository fenghaolw/azul-helper: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-modified, pytest-fast

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$
      - id: end-of-file-fixer
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$
      - id: check-ast
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        files: ^(game|training|agents|utils|tests|examples)/.*\.py$
        args: [--config=.flake8]

  - repo: local
    hooks:
      - id: mypy-modified
        name: mypy (modified files only)
        entry: python3 scripts/run_mypy.py
        language: python
        language_version: python3
        pass_filenames: false
        types: [python]
        files: ^(game|training|agents|utils)/.*\.py$
        exclude: ^(tests|examples)/.*\.py$
        additional_dependencies:
          - mypy>=1.13.0
          - types-requests>=2.28.0
          - types-setuptools>=57.4.0
          - types-PyYAML>=6.0.0
          - numpy>=1.20.0
          - torch>=1.9.0

      - id: pytest-fast
        name: pytest (fast tests only)
        entry: python3 scripts/run_fast_tests.py
        language: system
        pass_filenames: false
        files: ^tests/.*\.py$
        types: [python]

Add a ETA tracker to the training scripts.
  .flake8
  agents/mcts.py
  tests/test_mcts.py
  training/README.md
  training/TRAINING_IMPLEMENTATION_SUMMARY.md
  training/eta_tracker.py
  training/full_training_run.py
  training/run_initial_training.py
  training/training_loop.py
Due: mypy-modified, pytest-fast

Add scripts for profiling and identify improvements
  .pre-commit-config.yaml
  mypy.ini
  profiling/PROFILING_ANALYSIS.md
  profiling/__init__.py
  profiling/performance_profiler.py
  profiling/profiling_results_small_1games.txt
  requirements-dev.txt
  scripts/analyze_profiling_results.py
  scripts/profile_self_play.py
  scripts/run_mypy.py
  scripts/test_gpu_profiling.py
Due: none

Fix the deepcopy performance bottleneck.
  game/factory.py
  game/game_state.py
  game/player_board.py
Due: mypy-modified

Implement MCTS state optimization.
  .flake8
  OPTIMIZATION_SUMMARY.md
  agents/mcts.py
  profiling/profiling_results_small_1games.txt
  scripts/benchmark_mcts_optimization.py
  scripts/test_gpu_profiling.py
  tests/test_mcts_optimizations.py
Due: mypy-modified, pytest-fast

Implement MCTS state optimization.
  agents/mcts.py
  tests/test_mcts_optimizations.py
Due: mypy-modified, pytest-fast

Delete unused summary - it is already in the PR
  OPTIMIZATION_SUMMARY.md
Due: none

Remove the obsolete script.
  scripts/benchmark_mcts_optimization.py
  tests/test_mcts_optimizations.py
Due: pytest-fast

Skip duplicate CI runs.
  .github/workflows/ci.yml
Due: none

Optimize is_legal_action calls.
  game/game_state.py
  game/pettingzoo_env.py
  scripts/analyze_profiling_results.py
Due: mypy-modified

Add back some union types to fix type errors.
  game/pettingzoo_env.py
Due: mypy-modified

Optimize game.copy again since now it is the bottleneck
  game/factory.py
  game/game_state.py
  game/player_board.py
  game/tile.py
Due: mypy-modified

Optimize mcts.single_simulation
  agents/mcts.py
  agents/minimax_agent.py
  examples/mcts_example.py
  game/game_state.py
  profiling/performance_profiler.py
  tests/test_mcts.py
  training/self_play.py
Due: mypy-modified, pytest-fast

Fix device selection to properly detect and use MPS on Apple Silicon
  api_server.py
  training/neural_network.py
Due: mypy-modified

Initial integration with OpenSpiel
  .flake8
  .gitignore
  agents/__init__.py
  agents/openspiel_agents.py
  docs/OPENSPIEL_MIGRATION.md
  examples/test_openspiel_integration.py
  game/azul_openspiel.py
  mypy.ini
  pyproject.toml
  requirements.txt
  training/openspiel_alphazero_training.py
Due: mypy-modified

Initial integration with OpenSpiel
  .pre-commit-config.yaml
  agents/__init__.py
  agents/openspiel_agents.py
  game/azul_openspiel.py
  profiling/__init__.py
  profiling/openspiel_profiler.py
  scripts/profile_self_play.py
  training/openspiel_alphazero_training.py
Due: mypy-modified

Remove the old and broken agents
  agents/MCTS_IMPLEMENTATION_SUMMARY.md
  agents/README.md
  agents/__init__.py
  agents/checkpoint_agent.py
  agents/mcts.py
  agents/random_agent.py
  api_server.py
  evaluation/__init__.py
  evaluation/baseline_agents.py
  evaluation/cli.py
  evaluation/tournament.py
  examples/demo_neural_network.py
  examples/mcts_example.py
  examples/self_play_training_example.py
  run_evaluation.py
  scripts/profile_self_play.py
  tests/test_mcts.py
  tests/test_neural_network.py
  tests/test_self_play_training.py
  tests/test_training_setup.py
  training/README.md
  training/__init__.py
  training/full_training_run.py
  training/monitor_dashboard.py
  training/neural_network.py
  training/replay_buffer.py
  training/run_initial_training.py
  training/self_play.py
  training/training_loop.py
  training/training_utils.py
Due: mypy-modified, pytest-fast

Cleanup
  DEPENDENCY_OPTIMIZATION.md
  DEVELOPMENT.md
  README_RL.md
  README_TESTING.md
  profiling/performance_profiler.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/profile_self_play.py
  scripts/test_gpu_profiling.py
Due: none

Revamp the evaluation system
  agents/__init__.py
  agents/base_agent.py
  agents/heuristic_agent.py
  agents/improved_heuristic_agent.py
  agents/minimax_agent.py
  agents/openspiel_agents.py
  api_server.py
  evaluation/README.md
  evaluation/__init__.py
  evaluation/agent_evaluator.py
  evaluation/baseline_agents.py
  evaluation/cli.py
  evaluation/tournament.py
  examples/evaluation_examples.py
  game/azul_openspiel.py
  tests/test_evaluation_framework.py
Due: mypy-modified, pytest-fast

Consolidate the configurations.
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  agents/base_agent.py
  mypy.ini
  pyproject.toml
  requirements-dev.txt
  scripts/run_mypy.py
Due: mypy-modified

Fix type error and add thinking time
  evaluation/agent_evaluator.py
  evaluation/cli.py
  evaluation/evaluation_config.py
  evaluation/utils.py
Due: none

Slightly improve the evaluation outputs.
  evaluation/agent_evaluator.py
  evaluation/cli.py
  evaluation/utils.py
  game/azul_openspiel.py
Due: mypy-modified

Slightly improve the evaluation outputs.
  evaluation/agent_evaluator.py
  evaluation/evaluation_config.py
  evaluation/tournament.py
Due: none

Optimize simulation
  game/azul_openspiel.py
  game/game_state.py
  game/pettingzoo_env.py
  game/player_board.py
  game/tile.py
  profiling/PROFILING_ANALYSIS.md
  profiling/detailed_mcts_profiler.py
  profiling/mcts_profiling_summary.md
  tests/test_cross_platform.py
Due: mypy-modified, pytest-fast

Fix the training script.
  game/azul_openspiel.py
  game/register_azul.py
  tests/test_action_encoding.py
  training/openspiel_alphazero_training.py
Due: mypy-modified, pytest-fast

Change the rewards to be 1/-1 instead of scoring difference.
  game/azul_openspiel.py
Due: mypy-modified

Adjust hyperparameters to try to start training.
  agents/openspiel_agents.py
  debug_output.txt
  examples/test_openspiel_integration.py
  game/azul_openspiel.py
  requirements.txt
  tests/test_cross_platform.py
  tests/test_numerical_stability.py
  tests/test_performance.py
  training/openspiel_alphazero_training.py
Due: mypy-modified, pytest-fast

Actuall test the NN evaluator.
  profiling/detailed_mcts_profiler.py
Due: none

Fix the linter error
  profiling/detailed_mcts_profiler.py
Due: none

Implement a C++ version of the game.
  .pre-commit-config.yaml
  game_cpp/.clangd
  game_cpp/CMakeLists.txt
  game_cpp/README.md
  game_cpp/action.cpp
  game_cpp/action.h
  game_cpp/azul_cpp_wrapper.py
  game_cpp/azul_openspiel.cpp
  game_cpp/azul_openspiel.h
  game_cpp/build.sh
  game_cpp/debug_round.cpp
  game_cpp/factory.cpp
  game_cpp/factory.h
  game_cpp/game_state.cpp
  game_cpp/game_state.h
  game_cpp/mcts_agent.cpp
  game_cpp/mcts_agent.h
  game_cpp/player_board.cpp
  game_cpp/player_board.h
  game_cpp/python_bindings.cpp
  game_cpp/run_all_tests.sh
  game_cpp/test_basic_functionality.cpp
  game_cpp/test_edge_cases.cpp
  game_cpp/test_game_flow.cpp
  game_cpp/test_legal_moves.cpp
  game_cpp/test_scoring.cpp
  game_cpp/tile.cpp
  game_cpp/tile.h
  pyproject.toml
Due: none

Add C++ agents and evalution frameworks.
  game_cpp/CMakeLists.txt
  game_cpp/agent_evaluator.cpp
  game_cpp/agent_evaluator.h
  game_cpp/debug_round.cpp
  game_cpp/evaluation_config.cpp
  game_cpp/evaluation_config.h
  game_cpp/minimax_agent.cpp
  game_cpp/minimax_agent.h
  game_cpp/random_agent.cpp
  game_cpp/random_agent.h
  game_cpp/test_agents.cpp
  game_cpp/test_evaluation.cpp
Due: none

Fix the build errors that we cannot find pybind in virtual env.
  game_cpp/CMakeLists.txt
  game_cpp/build.sh
Due: none

Improve the performance of minimax agents.
  game_cpp/agent_evaluator.cpp
  game_cpp/evaluation_config.cpp
  game_cpp/minimax_agent.cpp
  game_cpp/minimax_agent.h
  game_cpp/test_evaluation.cpp
Due: none

Use the openspiel game implementation directly.
  game_cpp/CMakeLists.txt
  game_cpp/action.cpp
  game_cpp/action.h
  game_cpp/agent_evaluator.cpp
  game_cpp/agent_evaluator.h
  game_cpp/azul_cpp_wrapper.py
  game_cpp/azul_openspiel.cpp
  game_cpp/azul_openspiel.h
  game_cpp/factory.cpp
  game_cpp/factory.h
  game_cpp/game_state.cpp
  game_cpp/game_state.h
  game_cpp/mcts_agent.cpp
  game_cpp/mcts_agent.h
  game_cpp/player_board.cpp
  game_cpp/player_board.h
  game_cpp/python_bindings.cpp
  game_cpp/test_agents.cpp
  game_cpp/test_basic_functionality.cpp
  game_cpp/test_edge_cases.cpp
  game_cpp/test_evaluation.cpp
  game_cpp/test_game_flow.cpp
  game_cpp/test_legal_moves.cpp
  game_cpp/test_mcts_integration.cpp
  game_cpp/test_profiler.cpp
  game_cpp/test_scoring.cpp
  game_cpp/tile.cpp
  game_cpp/tile.h
Due: none

Simplify CMake to stop checking WITH_OPENSPIEL. We always use it.
  game_cpp/CMakeLists.txt
  game_cpp/README.md
  game_cpp/agent_evaluator.cpp
  game_cpp/agent_evaluator.h
  game_cpp/agent_profiler.cpp
  game_cpp/agent_profiler.h
  game_cpp/minimax_agent.cpp
  game_cpp/minimax_agent.h
  game_cpp/random_agent.cpp
  game_cpp/random_agent.h
  game_cpp/test_mcts_integration.cpp
Due: none

Fix the agent evaluation/profiling system to work with OpenSpiel.
  game_cpp/CMakeLists.txt
  game_cpp/agent_evaluator.h
  game_cpp/agent_profiler.cpp
  game_cpp/agent_profiler.h
  game_cpp/main_evaluation_demo.cpp
  game_cpp/mcts_agent.cpp
  game_cpp/mcts_agent.h
  game_cpp/test_mcts_integration.cpp
Due: none

Fix build warnings, add formatter, and simplify minimax agent.
  agents/openspiel_agents.py
  game_cpp/.clang-format
  game_cpp/CMakeLists.txt
  game_cpp/Makefile
  game_cpp/agent_evaluator.cpp
  game_cpp/agent_evaluator.h
  game_cpp/agent_profiler.cpp
  game_cpp/agent_profiler.h
  game_cpp/azul.cc
  game_cpp/azul.h
  game_cpp/evaluation_config.cpp
  game_cpp/evaluation_config.h
  game_cpp/format_code.sh
  game_cpp/main_evaluation_demo.cpp
  game_cpp/mcts_agent.cpp
  game_cpp/mcts_agent.h
  game_cpp/minimax_agent.cpp
  game_cpp/minimax_agent.h
  game_cpp/pre-commit-hook.sh
  game_cpp/random_agent.cpp
  game_cpp/random_agent.h
  profiling/detailed_mcts_profiler.py
  training/openspiel_alphazero_training.py
Due: mypy-modified
